url=jdbc:postgresql://${POSTGRES_URL}.${POSTGRES_NAMESPACE}:${POSTGRES_PORT}/${POSTGRES_DB}
username=${POSTGRES_USER}
password=${POSTGRES_PASSWORD} 
changeLogFile=changelog/db.changelog-master.yml
driver: ${POSTGRES_DRIVER}